# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Environments
.env
.venv
venv/

# Build
/build

# OS
.DS_Store

# Credentials
fetchers_new/thetadata/creds.txt

# Data
data_new/thetadata_raw/

*.egg-info/