[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "third_party/rigtorp/SPSCQueue"]
	path = third_party/rigtorp/SPSCQueue
	url = https://github.com/rigtorp/SPSCQueue
