# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Environments
.env
.venv
venv/

# Build
/build

# OS
.DS_Store

# Credentials
research/fetchers/thetadata/creds.txt

# Data
research/raw_data_cache/
research/experiment_outputs/

*.egg-info/